/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", sans-serif;
  background-color: var(--bg-color);
}

.header {
  padding: 10px;
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  height: 100vh;
  min-height: 668px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
}

.header__decor-item {
  color: var(--accent-color);
  font-family: inherit;
  font-size: 18px;
  justify-self: end;
  align-self: start;
  position: absolute;
  margin-block-start: 2px;
  margin-inline-end: 4px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__decor-item::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  align-self: center;
  justify-content: end;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  grid-row: 1;
  display: flex;
  justify-self: end;
  align-self: start;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.decorated-zone::after {
  content: "";
  grid-column: 1;
  grid-row: 5;
  display: flex;
  justify-self: start;
  align-self: end;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block-end: 25px;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: inherit;
  font-weight: normal;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  text-transform: lowercase;
  font-size: 18px;
  padding: 0 13px 0;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--transparent-main-color);
  outline-offset: 1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--main-color);
  outline-offset: 1px;
  pointer-events: none;
}

.title {
  font-size: var(--title-font-size);
  text-transform: lowercase;
  color: var(--title-color);
  line-height: 0.825em;
  text-shadow: 4px 4px 0px var(--accent-color);
  align-self: center;
}

.header__title {
}

.header__description {
  align-self: center;
  margin-block-start: 25px;
}

.title-decor {
  font-size: 18px;
  line-height: 1.3em;
  background-color: var(--accent-color);
  color: var(--block-title-color);
  font-weight: bold;
}

.section {
  display: grid;
  gap: 20px;
  padding: 40px 10px 10px;
}

.section__heading {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3em;
}

.section__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.3em;
}

.section-how .section__description {
  margin-block-end: 10px;
}

.section-how__block-title {
  font-weight: normal;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section-images {
  gap: 10px;
  padding-block-end: 40px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  padding: 10px;
  align-items: center;
  min-height: 668px;
  height: 100vh;
}

.footer__title {
  justify-self: center;
  grid-row: 3;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    min-height: 1024px;
  }

  .decorated-zone::before {
    grid-column: 2/2;
  }

  .header__theme-menu {
    grid-column-start: 2;
  }

  .title {
    grid-column: span 2;
    grid-row: 3;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__description {
    grid-row: 4;
    grid-column: 2;
  }

  .section {
    padding: 60px 20px 20px;
  }

  .section-images {
    gap: 20px;
    padding-block-end: 60px;
  }

  .section-why,
  .section-how {
    grid-template-columns: 1fr 2fr;
  }

  .section-why .section__heading,
  .section-how .section__heading {
    grid-column: 1;
  }

  .section-why .section__text-block,
  .section-how .section__text-block {
    grid-column: 2;
  }

  .section-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .section.what .section__heading {
    grid-column: 1;
  }

  .section-what .section__text-block {
    grid-column: span 3;
  }

  .section-images .block__title {
    grid-column: span 3;
    grid-row: 1;
  }

  .image-sunset {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .image-ice-cream {
    grid-column: 3/4;
    grid-row: 2/5;
  }

  .image-tape {
    grid-column: 1/2;
    grid-row: 4/7;
  }

  .image-books {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .image-street {
    grid-column: 2/4;
    grid-row: 5/7;
  }

  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    padding: 0;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/3;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section-what .section__text-block {
    grid-row: 2/3;
    grid-column: auto;
  }

  .footer {
    min-height: 768px;
  }
}
